@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 400 19px/1 "Raleway",Arial,tahoma ,verdana,sans-serif;
    }
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
table{
    border-collapse: collapse;
}
.wrapper {
    overflow: hidden;
}
.container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
/* */
/* */
/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/